///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

// Semantic color vars.
// Do not use these in your codebase! Reassign them to more abstract,
// reusable variables below.
$blue-light:                    #8ee2ff;
$grey-dark:                     #333;





// Abstract, reusable color vars.
$color-brand:                   $blue-light;
$color-ui:                      $grey-dark;
